

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
      width: 100%;

    header{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10vw 15vw;
    gap: 16vw;
    font-weight: bold;

    .nav-left p{
        margin-top: 10px;
    } 

    .nav-right{
        display: flex;
        flex-direction: column;
    

     button{
        
    padding: 10px 15px;
    border-radius: 20px;
    background-color: transparent;
    border: none;
    font-weight: bold;    
    }
}

    #login{
    background-color: black;
    color: white;
    }

}

section.view1{
    width: 100%;
    padding: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
   
     .top{
        width: 100%;
        // padding: 0 20px;
        
        p{
            margin-top: 3vh;
        }

        .btn-div{    
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2vw;
            margin-top: 2vh;

        }

        .btn-div i{
            margin-right: 5px;
        }

        .btn-div button{
            padding: 10px;
            border-radius: 10px;
            border: none;
            background-color: transparent;
        }

        .btn-div button:hover{
            background-color: black;
            color: white;
        }

        .input{
            position: relative;
            width: 100%;
        }

        .input input{
            width: 100%;
            height: 50px;
            border-radius: 30px;
            border: none;
            background-color: rgb(245, 245, 245);
            transition: all 0.2s ease;
        }

        .input input:hover{
            background-color: transparent;
            border: 2px solid #fcacca;
            opacity: 0.5;
        }

        .input input::placeholder{
            padding-left: 20px;
            font-size: 11px;
        }

        .input i{
            position: absolute;
            right: 0;
            top: 5px;
            background-color: #EC5E95;
            padding: 10px;
            border-radius: 50%;
            margin-right: 7px;
        }

        .popular{
            margin: 20px 0;
            display: flex;
            align-items: center;
            gap: 10px;

            p{
                font-weight: bold;
            }

            button{
                padding: 10px 5px;
                border-radius: 8px;
                border: 1px solid rgb(180, 180, 180);
                background-color: transparent;
                font-size: 10px;
            }
        }
    }

    .bottom {
        width: 100%;


        video{
            width: 100%;
            border-radius: 20px;
        }
    }



}

section.view2{
    width: 100%;
    padding: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(251, 240, 255),white);
    gap: 8px;
    border-radius: 10px;


    .first{
        position: relative;
        padding-top: 20px;
    button{
        padding: 20px;
        border-radius: 40px;
        border: none;
        font-size: 20px;
        background-color: white;
        font-weight: bold;
    }
     p{
        background-color: #EC5E95;
        text-align: center;
        border-radius: 20px;
        padding: 5px 15px;
        color: white;
        position: absolute;
        left: 75%;
        top: 13%;
        font: bold;
    }
}

    .second{
        font-size: 20px;
        padding-top: 10px;
        font-weight: 100;
    }
}

section.view3{
    width: 100%;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;


    .first{
        display: flex;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;

        button{
            padding: 10px 25px;
            border-radius: 15px;
            border: 1px solid rgb(209, 209, 209);
            background-color: transparent;
            font-size: 15px;

        }
    }

    .second button{
        padding: 10px 20px;
        border-radius: 20px;
        border: 1px solid rgb(209, 209, 209);
        background-color: transparent;
        margin-top: 10px;
    }
  
}

section.view4{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 20px 40px;
    margin-bottom: 20px;

    .first{
        width: 100%;
        // padding: 20px 40px
        position: relative;
        overflow: hidden;

        video{
            width: 100%;
            object-fit: cover;
            border-radius: 20px;
        }

        

        img{
            width: 100%;
            object-fit: cover;
            border-radius: 20px;
        }

        .bottom{
            height: 20%;
            width: 100%;
            background: linear-gradient(transparent,rgb(71, 71, 71));
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 40px 10px;
            position: absolute;
            bottom: -20%;
            transition: all 0.1s ease;
            

            p{
                font-size: 14px;
            }


            .bottom-btn button{
                padding: 7px;
                border-radius: 50%;
                background-color: white;
                border: none;
            }
        }

    }
    .first:hover .bottom{
        bottom: 0;
        
    }
}
}